<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .container{
        display: flex;
        /* align-items: center; */
        
    }
    .url{
        margin-right: 30px;

    }
    .formcontainer{
        margin: 50px;
    }
</style>
<body>
    <h1>create your short url</h1>
    <form class="formcontainer" method="post" action="/">
        <input type="text" placeholder="your url" name="original_url">
        <input type="submit">
    </form>

    <div class="">
        <% urldatabase.reverse().forEach(element => { %>
        <div class="container">
            <h5 class="url"><%= element.original_url %></h5>

            <a href="/<%= element.short_url %>"><%= element.short_url %></a>

        </div>
        <% }) %>
    </div>
</body>
</html>